.project-item-container {
  background-color: #ffffff;
  width: 150px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}
.project-item-image {
  width: 150px;
  height: 150px;
}
.project-item-name {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #475569;
}
